


body {
  font-family: 'Lato', sans-serif;
}

input:valid .field{
  border: 2px solid #1edd86;
}

.test {
  background-color: #d3d3d3;
  height: 50px;
}

input:focus {
  outline: none;
  border: 1px solid #CCC;
}

#login-page {
  padding-top: 8%;
}

#login-form {
  margin-top: 20px;
}

#sign-in-text {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

#sign-up-button {
  background-color: #2bb1ac;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.4em;
  padding: 6px 40px;
  letter-spacing: .2em;
  border: none;
  display: block;
  margin: 12px auto 0 auto;
  cursor:pointer;
}

#login-link {
  font-size: .6em;
  text-align: center;
  margin-top: 12px;
  color: #BBB;
}

#login-link a {
  text-decoration: underline;
  color: #BBB;
}

.field {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 14px;
  background-color: #EEE;
  border: none;
  border-radius: 3px;
}

.post {
  margin-bottom: 18px;
  border-radius: 2px;
  border: 1px solid #DDD;
  background-color: white;
  box-shadow: 2px 2px 5px #30928e;
}

.post-title{
  font-size: 1.8em;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: -10px;

}

.main-body {
  background-color: #2bb1ac;
}

.main-content {
  margin-top: 5em;
}

.user-box {
  background-color: #24a6a1;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #30928e;
  border: 1px solid #81e1dd;
}

.bold {
  font-weight: 600;
}

#username {
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.divider {
  margin-left: 5px;
  margin-right: 8px;
}

.date {
  font-size: .8em;
}

.sub-button {
  background-color: #636666;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: .8em;
  padding: 6px 20px;
  letter-spacing: .1em;
  border: none;
  margin-bottom: 10px;
  cursor:pointer;
}

.sub-button:hover {
    background-color: #078ea7;
}

.user-button {
  background-color: #f8f8f8;
  border-radius: 30px;
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: .8em;
  padding: 6px 20px;
  letter-spacing: .1em;
  border: none;
  margin-bottom: 10px;
  cursor:pointer;
}

.user-button:hover {
    background-color: #078ea7;
}
