body {
  font-family: 'Lato', sans-serif;
}

input:valid .field{
  border: 2px solid #1edd86;
}

.test {
  background-color: #d3d3d3;
  height: 50px;
}

input:focus {
  outline: none;
  border: 1px solid #CCC;
}

#login-page {
  padding-top: 8%;
}

#login-form {
  margin-top: 20px;
}

#sign-in-text {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

#sign-up-button {
  background-color: #2bb1ac;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.4em;
  padding: 6px 40px;
  letter-spacing: .2em;
  border: none;
  display: block;
  margin: 12px auto 0 auto;
  cursor:pointer;
}

#submit-button {
  background-color: #05A8AA;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.4em;
  padding: 6px 40px;
  letter-spacing: .2em;
  border: none;
  display: block;
  margin: 22px auto 0 auto;
  cursor:pointer;
}


#login-link {
  font-size: .6em;
  text-align: center;
  margin-top: 12px;
  color: #BBB;
}

#login-link a {
  text-decoration: underline;
  color: #BBB;
}

.field {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 14px;
  background-color: #EEE;
  border: none;
  border-radius: 3px;
}

.field-alt {
  width: 60%;
}

.time-box {
  width: 38%;
  height: 44px;
  padding: 10px 20px;
  margin-bottom: 14px;
  background-color: #EEE;
  border: none;
  border-radius: 0;
}

.post-title-box{
  background-color: #05A8AA;
  margin-bottom: 15px;
  border-radius: 3px 3px 0 0;

}

.post-title {
  font-size: 1.8em;
  font-weight: 900;
  color: white;
  margin-top: 7px;
  margin-bottom: 5px;
}

.post-time {
  font-size: .8em;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  padding-bottom: -19px;
}


.main-body {
  background-color: #282831;
}

.main-content {
  margin-top: 5em;
}

.user-box {
  background-color: #eafcfb;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #191d2e;
  border: 1px solid #6990ab;
}

.bold {
  font-weight: 600;
}

#username {
  font-size: 1.6em;
  font-weight: 900;
  color: #173736;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

}

.divider {
  margin-left: 5px;
  margin-right: 8px;
}

.date {
  font-size: .8em;
}

.sub-button {
  background-color: #636666;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: .8em;
  padding: 6px 20px;
  letter-spacing: .1em;
  border: none;
  margin-bottom: 12px;
  cursor:pointer;
}

.button-box {
  margin-right: -20px;
}

.sub-button:hover {
    background-color: #078ea7;
}

.user-button {
  background-color: #fdffff;
  border-radius: 30px;
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: .8em;
  padding: 6px 20px;
  letter-spacing: .1em;
  border: none;
  cursor:pointer;
  float: left;
  display: inline;
  margin-top: 16px;
  width: 100%;
}

.button-s:hover {
    background-color: #05A8AA;
    color: white;
}

.button-m:hover {
    background-color: #345995;
    color: white;
}

.button-l:hover {
    background-color: #fc672c;
    color: white;
}

.button-l {
  margin-bottom: 20px;
}

.sub-title {
  font-size: .9em;
  font-weight: 400;
  background-color: #095b94;
  padding: 9px 0;
  color: white;
  padding-left: 20px;
  margin-left: -15px;
  margin-right: -15px;
}

.user-symptoms {
  text-align: center;
}

li {
  font-size: .8em;
  font-weight: 400;
}

.profile-box {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  max-height: 50vh;
  overflow-y: auto;
}

.post-box {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 3px;
}

.post-note {
  font-size: .9em;
}

@media screen and (min-width: 1200px) {
  .fix-box {
    min-width: 350px;
  }
}

@media screen and (min-width: 1001px) {
  .fix-box {
    position: fixed;
    max-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .fix-box {
    position: relative;
  }
}

hr {
  margin-top: 0;
}

.post-info {
  font-weight: 700;
}

.bullet {
  color: #CCC;
}

.medbox {
  background-color: #345995;
}

.symptom {
  background-color: #05A8AA;
}

.medication {
  background-color: #345995;
}

 #title-text {
   font-size: 2.5em;
   font-weight: bold;
   text-align: center;
   color: white;
 }

.int {
  color: white;
  padding-left: 0;
  padding-right: 18px;
}

.int-num {
  color: white;
  padding-left: 6px;
  padding-right: 9px;
}

.submit {
  padding-top: 33px;
  background-color: red;
}

.log-box {
  border-top: 1px solid #7f7f7f;
  margin-top: 15px;
}

.starter-text {
  color: #c0c0c0;
  font-weight: 400;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #DDD;
  font-weight: 900;
}

.flash {
  color: red;
  font-size: .8em;
  text-align: center;
}
