<div class="container" id="login-page">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-6 col-lg-4">
        <h1 id="sign-in-text">Welcome Back</h1>
          <div class="row" id="login-form">
            <div class="col-12">
              <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Username" required title="Username must be at least 5 characters" class="field" autofocus pattern=".{5,}">
                <br>
                <input type="password" name="password" placeholder="Password" required class="field" title="Password must be at least 8 characters" pattern=".{8,}">
                <br>
                <input type="Submit" value="LOG IN" id="sign-up-button">
              </form>
              <p id="login-link">Don't have an account? <a href="/signup">Sign Up Here</a></p>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
