<h1>Log In to Symptom Tracker</h1>

<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="Submit" value="Log In">
</form>
