<div class="container-fluid test">
</div>
<body class="main-body">
<div class="container" id="login-page">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-6 col-lg-4">
        <% if params[:kind] == "symptom" %>
        <h1 id="title-text">Report Symptom</h1>
        <% elsif params[:kind] == "medication" %>
        <h1 id="title-text">Take Medication</h1>
        <%end%>
          <div class="row" id="login-form">
            <div class="col-12">
              <% if params[:kind] == "symptom" %>
              <form method="POST" action="/posts">
                <input type="hidden" name="kind" value="symptom">
              <input list="symptoms" name="title" placeholder="Symptom" class="field" autofocus>
              <datalist id="symptoms">
                <% @symptoms.each do |symptom| %>
                <option value="<%=symptom.name%>">
                <% end %>
              </datalist>
              <input type="text" name="duration[length]" class="field field-alt" placeholder="Duration"></input>
              <select name="duration[unit]" class="time-box">
                <option value="Minutes">Minutes</option>
                <option value="Hours">Hours</option>
                <option value="Days">Days</option>
              </select>
              <textarea rows="4" class="field" name="note" placeholder="Add a note..."></textarea>
              <span class="int">Intensity</span>
              <input type="radio" name="intensity" value="1"><span class="int-num">1</span></input>
              <input type="radio" name="intensity" value="2"><span class="int-num">2</span></input>
              <input type="radio" name="intensity" value="3" checked><span class="int-num">3</span></input>
              <input type="radio" name="intensity" value="4"><span class="int-num">4</span></input>
              <input type="radio" name="intensity" value="5"><span class="int-num">5</span></input>

                <br>
                <input type="Submit" value="SUBMIT" id="submit-button">
              </form>
              <%end%>

              <% if params[:kind] == "medication" %>
              <form method="POST" action="/posts">
                <input type="hidden" name="kind" value="medication">
              <input list="medications" name="title" placeholder="Medication" class="field" autofocus></input>
              <datalist id="medications">
                <% @medications.each do |medication| %>
                <option value="<%=medication.name%>">
                <% end %>
              </datalist>
              <input name="dose" placeholder="Dose (In Milligrams)" class="field"></input>
              <textarea rows="4" class="field" name="note" placeholder="Add a note..."></textarea>
              <br>
              <input type="Submit" value="SUBMIT" id="submit-button">
              </form>
              <%end%>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
</body>
