<h1>Sign up for Symptom Tracker</h1>

<form method="POST" action="/users">
  <input type="text" name="username" placeholder="Username" required>
  <input type="text" name="email" placeholder="Email Address" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="Submit" value="Sign Up">
</form>
